<div *ngFor="#advert of adverts; #i=index">
    <div class="clearfix">
        <i>{{i+1}} :: </i>
        <input id="{{i}}" type="checkbox" [(checked)]="advert.status">
        <label [attr.for]="i">{{advert.titre}}</label>
        <a class="glyphicon glyphicon-check" (click)="updateStatus(advert)"></a>
    </div>
    <div>
        <img src="{{advert.url}}" alt="{{advert.titre}}" class="img-thumbnail" width="100">
        <p>
            {{advert.description}}
        </p>
    </div>
</div>

<button href="#" type="button" class="btn btn-default btn-sm btn-block" (click) = "nextPage()" *ngIf="!endContent && adverts.length !== 0" >More</button>